/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Color de fondo gris */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center;
    width: 90%;
    max-width: 400px;
    min-height: 95vh; /* Ocupa el 95% del espacio vertical */
    max-height: 95vh; /* Asegura que no supere el 95% del alto de la vista */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye espacio entre el título y las secciones */
}

/* Título de la web */
h1 {
    margin: 0; /* Elimina el margen superior */
    padding-bottom: 20px; /* Añade espacio debajo del título */
}

/* Contenedor de las secciones */
.sections {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centra las secciones verticalmente */
    flex-grow: 1; /* Permite que este contenedor ocupe el espacio disponible */
    overflow-y: auto; /* Permite el scroll dentro del contenedor de secciones si es necesario */
}

/* Sección */
.section {
    background-color: #b0b0b0; /* Color de fondo de las secciones */
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.section p {
    font-size: 1vh; /* Tamaño de fuente más pequeño para los párrafos, 1% del ancho de la ventana */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    line-height: 1.4; /* Ajusta el interlineado para mejorar la legibilidad */
}
.section a {
    display: block; /* Asegura que el enlace ocupe todo el ancho de la sección */
    color: black; /* Color del texto del enlace */
    font-weight: bold; /* Pone el texto del enlace en negrita */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 2vh; /* Tamaño de fuente del enlace, 3% del ancho de la ventana */
    padding: 5px 0; /* Añade espacio alrededor del enlace */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
}

.section a:hover, .section a:focus {
    background-color: black; /* Fondo negro al pasar el cursor o enfocar el enlace */
    color: white; /* Texto blanco sobre el fondo negro */
}



/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
        max-height: 95vh; /* Asegura que no supere el 95% del alto de la vista */
        padding: 10px; /* Ajusta el padding del contenedor en dispositivos móviles */
    }
}
