/* Global Styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    background-color: #f4f4f4;
    color: #333;
}

/* Sección de Course Categories */
.course-categories {
    padding: 40px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.course-categories h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #35424a;
}

/* Grid responsivo */
.categories-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 5px;
}

.titulo a {
    color: #35424a; /* Color principal del enlace */
    text-decoration: none; /* Elimina el subrayado por defecto */
    font-weight: bold; /* Hace que el texto del enlace sea más grueso */
    border-bottom: 2px solid transparent; /* Añade un borde inferior invisible para el efecto hover */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Transición suave */
}

.titulo a:hover {
    color: #505050; /* Cambio de color en hover */
    border-bottom-color: #505050; /* Muestra el borde inferior al hacer hover */
}

/* Componente de Categoría */


.category-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}



.category-item a {
    color: #35424a; /* Color principal del enlace */
    text-decoration: none; /* Elimina el subrayado por defecto */
    font-weight: bold; /* Hace que el texto del enlace sea más grueso */
    border-bottom: 2px solid transparent; /* Añade un borde inferior invisible para el efecto hover */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Transición suave */
}

.category-item a:hover {
    color: #505050; /* Cambio de color en hover */
    border-bottom-color: #505050; /* Muestra el borde inferior al hacer hover */
}

.category-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Asegura que el contenido ocupe todo el contenedor */
}

.category-content h3 {
    font-size: clamp(1.2rem, 3vw, 1.5rem); /* Tamaño dinámico del título */
    color: #35424a;
    margin-bottom: 10px;
    margin-top: 5px;
    flex: 0 1 30%; /* El título ocupará un 30% del contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    max-height: 30%; /* Evita que el título crezca demasiado */
}

.category-content p {
    font-size: clamp(1.2rem, 2vw, 1.2rem); /* Tamaño dinámico del título */
    color: #666;
    margin-bottom: 15px;
    flex: 1 1 50%; /* La descripción ocupará un 50% del contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    line-height: 1.2; /* Reduce el interlineado para ahorrar espacio */
    max-height: 50%; /* Limita el crecimiento de la descripción */
}

.category-meta {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    color: #888;
    flex: 0 1 20%; /* Meta ocupará un 20% del contenedor */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    margin-top: auto; /* Empuja el contenido meta al fondo */
    max-height: 20%; /* Limita el crecimiento de este bloque */
}


.category-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Imagen en la parte inferior */
.category-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    padding-top: 40%; /* Esto crea un espacio de 16:9 basado en el ancho */
    position: relative; /* Necesario para que el elemento hijo absoluto se posicione correctamente */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    background-color: #f8f8f8; /* Color de fondo, por si acaso la imagen no carga */

}

.category-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor, manteniendo el aspecto */
    transform: translate(-50%, -50%); /* Centra la imagen */
}


.back-to-menu {
    display: block; /* Asegura que el marco ocupe todo el ancho */
    margin-bottom: 20px; /* Espacio debajo del enlace */
    padding: 8px 12px; /* Espacio dentro del rectángulo */
    text-align: center;
    background-color: #f5f5f5; /* Color de fondo suave */
    color: #333; /* Color del texto oscuro */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: normal; /* Peso de fuente normal */
    text-decoration: none; /* Sin subrayado */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Borde del rectángulo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para el hover */
    cursor: pointer; /* Cursor tipo puntero */
    width: fit-content; /* Ajustar el ancho al contenido */
    margin-left: auto; /* Centramos horizontalmente */
    margin-right: auto; /* Centramos horizontalmente */
}

.back-to-menu a {
    display: block; /* Hace que el enlace ocupe todo el área del contenedor */
    padding: inherit; /* Hereda el padding del contenedor */
    color: inherit; /* Hereda el color del contenedor */
    text-decoration: none; /* Sin subrayado */
}

.back-to-menu a {
    text-decoration: none; 
    color: #000;
}

.back-to-menu a:hover {
    text-decoration: none; 
    color: #505050;
}

.back-to-menu:hover {
    background-color: #e0e0e0; /* Color de fondo en hover */
    color: #d5d5d5; /* Color del texto en hover */
}

.post {
    font-size: 16px; /* Tamaño de la fuente aumentado */
    line-height: 1.6; /* Interlineado mejorado */
    color: #2d2d2d; /* Color de texto gris oscuro */
    padding: 10px; /* Espacio interno para separar el texto del borde */
    margin: 0 auto; /* Centrado automático */
    max-width: 360px; /* Ancho máximo reducido para mejor legibilidad */
    background-color: #f3f2f2; /* Color de fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra similar a otros elementos */
}

.post ul {
    padding-left: 20px; /* Espacio a la izquierda para las listas */
}

.post li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

.post h2 {
    font-size: 24px; /* Tamaño de la fuente del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #2d2d2d; /* Color del título */
}


.post img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio inferior causado por las imágenes en línea */
    margin: 10px 0; /* Espacio arriba y abajo de las imágenes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade un efecto de sombra */
    border-radius: 5px; /* Bordes redondeados para las imágenes */
}

#info-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#info-box.show {
    visibility: visible;
    opacity: 1;
}


#moreText {
    max-height: 0;
    overflow: hidden;
    display: inline-block;

    transition: max-height 1s ease-out;
    vertical-align: top; /* Asegura que el texto adicional se alinee correctamente */
}

.show-more {
    max-height: 1800px; /* Ajusta esto según la cantidad de texto que desees mostrar */
}


#toggleButton {
    text-decoration: none; 
    border-radius: 10px;
    background-color: #929292;
    padding: 5px 10px;
    color: #000;
}