{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Formación ECI</title>
        <link rel="stylesheet" href="{% static 'css/curso.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
    <body>

    {% if user.is_authenticated %}

            <!-- Botón de Menú -->
            <div class="menu-icon" id="menuIcon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        
            <!-- Menú Desplegable -->
            <div class="dropdown-menu" id="dropdownMenu">
                <div class="menu-header">
                    <span class="menu-name">{{user.username}}</span>
                    <span class="menu-points">11500 puntos</span>
                </div>
                <hr>
                <a href="#" id="logout-link">Cerrar sesión</a>
            </div>
        

            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
            </form>
    {% endif %}


        {% comment %} 
        <div>
            <div class="header">
                <div class="icon menu-icon" style="background-image: url('{% static 'menu.png' %}');"></div>
                <div class="icon user-icon" style="background-image: url('{% static 'usuario.png' %}');"> {{ user.username }}</div>
    
            </div>
            <div class="page-header">
                {% if user.is_authenticated %}
                    <p class="top-menu">Hola {{ user.username }}</p>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
            </div>
        {% endcomment %}    



                {% block content %}
                {% endblock %}



    {% comment %} 
            
        </div>
    </div>

    {% endcomment %}    
    <div id="info-box" class="hidden">Cuadro informativo</div>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
    
</html>