{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Formación Demo</title>
        <link rel="stylesheet" href="{% static 'css/curso.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
    <body>



    {% if user.is_authenticated %}

            <!-- Botón de Menú -->
            <div class="menu-icon" id="menuIcon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        
            <!-- Menú Desplegable -->
            <div class="dropdown-menu" id="dropdownMenu">
                <div class="menu-header">
                    <span class="menu-name">{{user.username}}</span>
                    <span class="menu-points">{{puntos_totales}} puntos</span>
                </div>
                {% if user.is_superuser %}
                <hr>
                <a href="/admin">Modificar base de datos</a>
                {% endif %}


                <hr>
                <a href="#" id="logout-link">Cerrar sesión</a>
            </div>
        

            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
            </form>
    {% endif %}

    {% block content %}
    {% endblock %}

    <div id="info-box" class="hidden">Cuadro informativo</div>
    <script src="{% static 'js/main.js' %}"></script>
    </body>
    
</html>