{% extends 'cursos/base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

    <div class="back-to-menu">
        <a href="/">Volver a la pantalla principal</a>
      </div>
    <div class="lessons">
        <div class="title">{{ curso.titulo }}</div>
        {% for leccion in lecciones %}
        <a href="{% url 'detalle_leccion' pk=leccion.pk %}" class="lesson" title="">
            <img src="{{ leccion.miniatura.url }}" alt="{{leccion.titulo}}" />
            <div class="lesson-info">
                <div class="lesson-title">{{leccion.titulo}}</div>
                {% if lecciones_completadas|default_if_none:""|get_item:leccion.id %}
                    <div class="lesson-subtext">Leccion completada</div>
                {% else %}
                    <div class="lesson-subtext">Lección pendiente</div>    
                {% endif %}
            </div>
        </a>

        {% endfor %}

    </div>
{% endblock %}