

{% extends 'cursos/base.html' %}
{% load static %}
{% block content %}

<section class="course-categories">
    <div class="titulo">
        <h2><a href="/">Formación</a></h2>
    </div>
    <div class="categories-grid">

{% for curso, total_lecciones, lecciones_completadas, total_puntos, total_puntos_obtenidos in lecciones_por_curso %}

<div class="category-item {% if lecciones_completadas == total_lecciones %}completed{% endif %}">
    <div class="category-image">
        <img src="{{ curso.miniatura.url }}" alt="Imagen del curso">
    </div>
    <div class="category-content">
        <h3><a href="{% url 'detalle_curso' pk=curso.pk %}" title='{{ curso.explicacion|linebreaksbr }}'>{{ curso.titulo }}</a></h3>
        <p>{{ curso.miniexplicacion|linebreaksbr }}</p>
        <div class="category-meta">
            {% if lecciones_completadas == total_lecciones %}
                <span>🏆 {{ total_puntos_obtenidos }}/{{ total_puntos }} puntos</span>
            {% else%}
                <span>🕹️ {{ total_puntos_obtenidos }}/{{ total_puntos }} puntos</span>
            {% endif %}

            <span>🎓 {{ lecciones_completadas }}/{{ total_lecciones  }}</span>
            <span>⏱️ {{curso.duracion}} min</span>
        </div>
    </div>

</div>

{% endfor %}


</div>
</section>

{% endblock %}           